body {
  font-family: Arial;
  padding: 10px;
  width: 300px;
}

.risk {
  padding: 5px;
  border-radius: 5px;
  font-weight: bold;
}

.risk.low {
  background-color: lightgreen;
}

.risk.moderate {
  background-color: orange;
}

.risk.high {
  background-color: red;
  color: white;
}
