body {
  font-family: Arial, sans-serif;
  padding: 16px;
  width: 300px;
  height: auto;
  max-height: 100px;
  max-width: 380px;
  box-sizing: border-box;
}

button {
  padding: 10px 16px;
  font-size: 16px;
  white-space: nowrap;
  margin-bottom: 12px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  width: 100%;
  box-sizing: border-box;
}

button:hover {
  background-color: #0056b3;
}

.description {
  font-size: 14px;
  color: #555;
  margin-bottom: 12px;
  line-height: 1.4;
}

.summary-box {
  font-size: 15px;
  line-height: 1.5;
}

.summary-box strong {
  display: block;
  margin-top: 10px;
  font-size: 16px;
  text-decoration: underline;
}

.risk-box {
  border-radius: 6px;
  display: inline-block;
  margin-top: 6px;
  font-size: 12px;
}

.risk {
  padding: 10px;
  border-radius: 10px;
  font-weight: bold;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.risk.low {
  background-color: lightgreen;
  
}

.risk.moderate {
  background-color: orange;
}

.risk.high {
  background-color: red;
  color: white;
}

.section-card {
  background-color: #f8f9fa;
  border-radius: 10px;
  padding: 12px;
  margin-bottom: 10px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}
.section-card strong {
  display: block;
  font-size: 14px;
  font-weight: bold;
  color: #333;
  margin-bottom: 4px;
}

.risk-icon {
  margin-right: 8px;
  font-size: 18px;
}

.popup-icon {
  width: 50px;    /* or any size you want */
  height: 50px;
  object-fit: contain;  /* keeps aspect ratio */
}

.header {
  display: flex;
  align-items: center;
  gap: 10px; /* spacing between icon and text */
}
